---
import Main from '../layouts/Main.astro';
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<Main title='all blog post' description='personal blog'>
  <h1 class='text-gray-200 text-3xl lg:text-5xl font-semibold'>Blog</h1>
  <div class='grid grid-cols-2 gap-3 lg:gap-5'>
    {
      posts.map((post) => (
        <div class='flex flex-row items-center gap-5 md:gap-7 col-span-2 lg:col-span-1 lg:gap-9 bg-gray-800 p-5 rounded'>
          <div class='flex-shrink-0'>
            <img
              class='object-cover object-center w-32 h-32 lg:w-44 lg:h-44 rounded'
              src={post.frontmatter.heroImage}
            />
          </div>
          <div class='w-full space-y-2'>
            <div class='flex justify-between items-center'>
              <a
                href={post.url}
                class='text-xl lg:text-2xl font-semibold text-gray-200 hover:text-cyan-600'
              >
                <h3>{post.frontmatter.title}</h3>
              </a>
              <time datetime={post.frontmatter.pubDate}>
                {new Date(post.frontmatter.pubDate).toLocaleDateString(
                  'id-id',
                  {
                    year: '2-digit',
                    month: 'short',
                    day: 'numeric',
                  }
                )}
              </time>
            </div>
            <p class='line-clamp-3 lg:line-clamp-4'>
              {post.frontmatter.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</Main>
